
@keyframes slide-from-right {
	0% {
		right:-25%;
	}
	100% {
		right: 0%;
	}
}

.slide-from-right{
	animation-name: slide-from-right;
	animation-duration: 0.25s;
}

.slide-from-right-reverse{
	animation-name: slide-from-right;
	animation-duration: 0.5s;
	animation-direction: reverse;
}